body {
	background-color: #fff;
	margin: 40px;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 14px;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 16px;
	font-weight: bold;
	margin: 24px 0 2px 0;
	padding: 5px 0 6px 0;
}

code {
	font-family: Monaco, Verdana, Sans-serif;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#thumbs{
	position:relative;
	z-index:1;
		width:130px;
	border:1px solid #333;
}
#thumbs div{
	position:relative;
	z-index:2;
	width:28px;
	height:28px;	
	float:left;
	margin:10px 10px 10px 0;
	border:1px solid #333;
}
#container{
	position:relative;
	width:762px;
	height:300px;
}
#container div.outer{
	position:absolute;
	/*top:0; left:0;*/
	z-index:3;	
	width:200px;
	height:200px;
	border:1px solid #ff33ff;
	overflow:hidden;
	padding:17px;
}
#globalOuter{
	width:762px;
	margin:0 auto;
}
#navigation{
	display:none;
}
.box1{
	top:20px;
	left:20px;
}
.box2{
	top:20px;
	left:264px;
}
.box3{
	top:20px;
	left:508px;
}
.box4{
	top:260px;
	left:20px;

}
.box5{
	top:260px;
	left:264px;
}
.box6{
	top:260px;
	left:508px;
}
.box7{
	top:500px;
	left:20px;
}
.box8{
	top:500px;
	left:264px;
}
.box9{
	top:500px;
	left:508px;
}
